@model Gaditas.Models.ModalidadeViewModel

@{
    ViewData["Title"] = "Detalhes da Modalidade";
}

<h1>Detalhes da Modalidade</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NOME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NOME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ATIVO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ATIVO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DT_CADASTRO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DT_CADASTRO)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DT_ATUALIZACAO)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DT_ATUALIZACAO)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
